//JE NE FAIS QUE LES IMPORT US//


$completetedTasKColor:green;
$incompleteTaskColor:red;
$isCompleted:true;

.task {
    background-color: if($isCompleted, $completetedTasKColor, $incompleteTaskColor);
    text-decoration:  if($isCompleted, line-through, inherit)
}



@import 'header';
@import 'footer';







